// Import variables
@use 'variables' as *;

// Styling for cards - mobile
@mixin card {
  display: flex;
  flex-direction: column;
  padding: $padding-top $padding-bottom $padding-bottom;
  gap: $gap-card;
  background-color: $clr-white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  
}

// Media query at 1000px
@mixin laptop {
  @media (min-width: 48em) {
    @content;
  }
}