@use 'variables' as *;

@mixin card-mobile($color) {
  display: flex;
  flex-direction: column;
  padding: $space-md $space-xl $space-xl;
  gap: $space-3xl;
  background-color: $clr-white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  border-top: $space-4xs solid $color;
}

@mixin card-laptop($color) {
  display: flex;
  flex-direction: column;
  padding: $space-xl $space-3xl $space-3xl;
  gap: $space-4xl;
  background-color: $clr-white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  border-top: $space-4xs solid $color;
}

@mixin laptop {
  @media (min-width: 62.5em) {
    @content;
  }
}