@use 'reset' as *;
@use 'variables' as *;
@use 'mixins' as *;


body {
  font-family: $ff-body;
  padding: $space-xs;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $clr-bg-body;
  color: $clr-body-text;
  
}

.ai-tools {
  max-inline-size: $card-width-mobile;
}

.intro {
  text-align: center;
  margin-block-end: $space-3xl;
}

.intro__title {
  font-size: $fs-title;
  font-weight: $fw-semibold;
  color: $clr-title;
  letter-spacing: 0.007em;
  margin-block-end: $space-xs;
  span {
    font-weight: $fw-extralight;
  }
}

.intro__description {
  letter-spacing: 0.007em;
  line-height: 1.65;
  font-size: $fs-body;
}

.cards {
  display: grid;
  gap: $space-lg;  
}


.card {

  &:nth-child(1) {
    @include card($clr-cyan)
  }
  &:nth-child(2) {
    @include card($clr-red)
  }
  &:nth-child(3) {
    @include card($clr-orange)
  }
  &:nth-child(4) {
    @include card($clr-blue)
  }
   
  img {
    align-self: end;
    
  }
}

.card__details {
  h2 {
    font-size: $fs-h2;
    color: $clr-title;
    margin-block-end: $space-4xs;
  }
  p {
    font-size: $fs-card;
    letter-spacing: 0.05em;
    line-height: 1.85;
  }
}




