*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 98%);
}

.tools {
  max-inline-size: 19.4375rem;
}

.intro {
  text-align: center;
  margin-block-end: 4.6875rem;
}

.intro__title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.007em;
  margin-block-end: 1rem;
}
.intro__title span {
  font-weight: 200;
}

.intro__description {
  letter-spacing: 0.1px;
  line-height: 1.65;
  font-size: 15px;
}

.cards {
  display: grid;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 22px 29px 28px;
  gap: 32px;
  box-shadow: 0 15px 30px 1px rgba(163, 165, 174, 0.5);
  border-radius: 7px;
  border-top: 4px solid black;
}
.card img {
  align-self: end;
}

.card__details h2 {
  font-size: 20px;
  margin-block-end: 4px;
}
.card__details p {
  font-size: 12px;
  letter-spacing: 0.6px;
  line-height: 1.85;
}
